.DS_Store
Thumbs.db

.arclight/
libraries/
forge-*-installer.jar
*.log
run.bat
run.sh
user_jvm_args.txt

world/
world_nether/
world_the_end/
backups/
logs/
crash-reports/
usercache.json
version_history.json
*.lck
*.lock

*.db
*.db-journal
*.sqlite
*.sqlite.db
*.bin
*.dat

**/playerdata/
**/userdata/
**/stats/
**/logs/
**/cache/
**/backups/
**/History/
**/tmp/

plugins/Dynmap/web/
plugins/CoreProtect/
plugins/LuckPerms/libs/